body{
  background:black;
}
.form-body{
  background-color: aqua;
}
#dogButton{
background-color: blue;
}
#catButton{
  background-color: red;

}
#allPets{
  background-color: orange;

}
#toForm{
  background-color:aqua;
}
#thisOne{
  display:flex;
  flex-wrap:wrap;
  
}
.makeitsmall{
  width:50%;
}
