body{
  background:black;
}
.form-body{
  background-color: rgb(29, 150, 150);
}
#dogButton{
background-color: blue;
}
#catButton{
  background-color: red;

}
#allPets{
  background-color: orange;

}
#toForm{
  background-color:aqua;
}
#thisOne{
  display:flex;
  flex-wrap:wrap;
  
}
.makeitsmall{
  width:50%;
}
h1{
  color:white;
  box-shadow:5px 5px 5px ;
  border:solid white 3px;
  border-radius:25px;
  padding:10px;
  text-align:center;
  margin:5px;
}
.submit-button{
  background-color:black;
  color:white;
  border:solid white 1px;
  margin:5px;
}